body {
  font-family: Arial;
  background: #fafafa;
  margin: 0;
}

/* Login and Register */
.login-box, .form-box {
  width: 350px;
  margin: 80px auto;
  background: #9cb4db;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  width: 95%;
  padding: 10px;
  background: #073c5c;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #ddd;
}

.btn {
  background: #25012b;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  padding: 25px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 8px #ddd;
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background: #eee;
}
.card h3 {
  margin: 10px 0 5px 0;
}
